protein_data.json filter=lfs diff=lfs merge=lfs -text
locus_annotations.json filter=lfs diff=lfs merge=lfs -text
protein_seqs.json filter=lfs diff=lfs merge=lfs -text
annotations.json filter=lfs diff=lfs merge=lfs -text
